
body {
    margin: 0;
    padding: 0;
}

.map-container {
    width: 100%;
    height: calc(100vh - 64px);
}

.fab-container {
    position: absolute;
    bottom: 2%;
    right: 2%;
    z-index: 1;
}